{% extends "layout_unbranded.html" %} 
{% block pageTitle %} 
  List of Employees
{% endblock %} 
 
{% block content %}


<h2>List of Employees</h2> 
{% if employees and employees.length > 0 %} 
{% set employeerows = [] %} 

{% for employee in employees %} 

{% set employeerows= (employeerows.push([{text: employee.name},
                                          {text: employee.address},
                                          {text: employee.nationalInsuranceNo}, 
                                          {text: employee.bankAccountIBANorBic},
                                           {text: employee.startingSalary},
                                           {text: employee.employeeNumber}]),
                                            employeerows) %} 
{% endfor %} 

{{govukTable({ 
    head: [{ text: "Name"},
          { text: "Address"}, 
          { text: "NIN"},
          { text: "Account"},
          { text: "Salary"},
          { text: "Number"}
           ], 
    rows: employeerows }) 
}} 
{% else %}

There are no employees. 
{% endif %}


{% endblock %} 